/* Set the height of the map container */
.leaflet-container {
  height: 100%;
}

/* Style the popup */
.leaflet-popup-content {
  background-color: white;
  color: black;
}

/* Change the marker icon to a custom icon for the restaurant */
.leaflet-marker-icon {
  background-image: url('https://www.svgrepo.com/show/54155/restaurant.svg');
  background-size: cover;
  filter: brightness(0) invert(1);
}
